$mapHeight: 500px;

.map {
  align-items: center;
  justify-content: center;
  padding: 15px;
}

#editMap {
  position: relative;
  height:200px;
}

#map {
  position: relative;
  height: 500px;
}

.popup {
  width: 350px;
  img {
    width: 100%;
  }
}
