.progress__background {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, .3);
  &--fade-in {
    animation: fade-in 1s linear;
  }
  &--fade-out {
    animation: fade-out 1s linear;
  }
}
.progress__spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  color: $green;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}