@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

$fa-font-path: "../../node_modules/font-awesome/fonts";
@import '../../node_modules/font-awesome/scss/font-awesome.scss';

//Add something a bit crazy so we can verify font load, will change later
$indy-flower:  'Indie Flower', serif;  

html {
  font-family: $indy-flower, sans-serif;
  font-size:10px;
}

body {
  font-size:1.5rem;
  color:$darkGreen;
}

